#drum-machine {
    border: 3px solid;
    display: flex;
    margin: 50px auto;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 400px;
}

#grid-container {
    border: 3px solid;
    display: grid;
    width: 350px;
    height: 300px;
    grid-template-columns: auto auto auto;
}

#drum-pad {
  border: 1px solid;
  width: 100px;
  height: 80px;
  text-align: center;
}

#control-container {
    border: 3px solid;
    display: inline-block;
    width: 300px;
    height: 300px;
}